* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: black;
}

.player-score {
  padding: 0;
  margin: 0;
}

header {
  height: 150px;
  text-align: center;
}
h1 {
  margin: 20px;
}

.play-again {
  height: 32px;
  margin: 10px;
}

.replay-button{
  color: white;
  background-color: black;
  font-weight: bold;
  border: none;
}
.replay-button:hover {
  text-decoration: underline;
  cursor: pointer;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.game-board {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: 90px 90px 90px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height: 300px;
  width: 300px;
  background-color: white;
  /* border: 10px dotted white; */
  padding: 0;
}
footer {
  height: 120px;
  text-align: center;
}
div div{
  width: 90px;
  height: 90px;
}

aside {
  width: 200px;
  text-align: center;
  flex-grow: 1;
  height: 80%;
}

#box1 {
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
}

#box2 {
  grid-column: 2/ span 1;
  grid-row: 1/ span 1;
}
#box3 {
  grid-column: 3/ span 1;
  grid-row: 1/ span 1;
}

#box4 {
  grid-column: 1/ span 1;
  grid-row: 2/ span 1;
}
#box5 {
  grid-column: 2/ span 1;
  grid-row: 2/ span 1;
}
#box6 {
  grid-column: 3/ span 1;
  grid-row: 2/ span 1;
}

#box7 {
  grid-column: 1/ span 1;
  grid-row: 3/ span 1;
}
#box8 {
  grid-column: 2/ span 1;
  grid-row: 3/ span 1;
}
#box9 {
  grid-column: 3/ span 1;
  grid-row: 3/ span 1;
}

.playing-tiles {
  background-color: black;
  font-size: 60px;
  text-align: center;
  color: white;
  padding: 5px;
  cursor: pointer;
}
.playing-tiles:hover {
  width: 98px;
  height: 98px;
  position: relative;
  border: 2px solid white;
}

.player-icon {
  font-size: 30px;
  font-weight: bold;
}
.message {
  height: 60px;
  margin: 0 0 10px 0;
}

.hidden {
  display: none;
}