@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Pacifico", sans-serif;
  background: url(Blackboard2.jpeg);
  background-size: 100vw 100vh;
}

.player-score {
  padding: 0;
  margin: 0;
}

header {
  height: 150px;
  text-align: center;
}

h1 {
  margin: 0 20px;
  font-size: 60px;
}

.play-again {
  height: 32px;
  margin: 10px;
  background-color: transparent;
}

.replay-button{
  color: white;
  font-weight: bold;
  border: none;
  background-color: transparent;
}
.replay-button:hover {
  text-decoration: underline;
  cursor: pointer;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}
.begin {
  background-color: transparent;
  color: white;
  border: 5px solid white;
  font-family: "Pacifico", sans-serif;
  width: 200px;
  height: 100px;
  font-size: 25px;
}
.begin:hover {
  cursor: pointer;
  width: 250px;
  height: 150px;

}

.game-board {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: 90px 90px 90px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height: 300px;
  width: 300px;
  background-color: transparent;
  padding: 0;
}
footer {
  height: 120px;
  text-align: center;
}
div div{
  width: 90px;
  height: 90px;
}

aside {
  width: 200px;
  text-align: center;
  flex-grow: 1;
  height: 80%;
}

#box1 {
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
  border: 5px solid white;
  border-style: none solid solid none;
}

#box2 {
  grid-column: 2/ span 1;
  grid-row: 1/ span 1;
  border: 5px solid white;
  border-style: none none solid none;
}
#box3 {
  grid-column: 3/ span 1;
  grid-row: 1/ span 1;
  border: 5px solid white;
  border-style: none none solid solid;
}

#box4 {
  grid-column: 1/ span 1;
  grid-row: 2/ span 1;
  border: 5px solid white;
  border-style: none solid none none;
}
#box5 {
  grid-column: 2/ span 1;
  grid-row: 2/ span 1;
}
#box6 {
  grid-column: 3/ span 1;
  grid-row: 2/ span 1;
  border: 5px solid white;
  border-style: none none none solid;
}

#box7 {
  grid-column: 1/ span 1;
  grid-row: 3/ span 1;
  border: 5px solid white;
  border-style: solid solid none none;
}
#box8 {
  grid-column: 2/ span 1;
  grid-row: 3/ span 1;
  border: 5px solid white;
  border-style: solid none none none;
}
#box9 {
  grid-column: 3/ span 1;
  grid-row: 3/ span 1;
  border: 5px solid white;
  border-style: solid none none solid;
}

.playing-tiles {
  background-color: none;
  font-size: 60px;
  text-align: center;
  color: white;
  padding: 5px;
  cursor: pointer;
}
.playing-tiles:hover {
  width: 98px;
  height: 98px;
  position: relative;
  border: 5px solid white;
}

.player-icon {
  font-size: 30px;
  font-weight: bold;
}
.message {
  height: 60px;
  margin: 0 0 10px 0;
}

.custimize {
  border: 5px solid white;
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px;

}

 
.box {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 200px;
  height: 40px;
  margin: 20px;
}
.box::placeholder {
  color: white;
}


.name-input1 {
  flex-grow: 1;
  text-align: center;
  font-size: 40px;
}

.name-input2 {
  flex-grow: 1;
  text-align: center;
  font-size: 40px;
}

input {
  text-align: center;
}
.icon-button {
  width: 40px;
  height: 40px;
  margin: 20px 5px 10px 5px;
  background-color: transparent;
  color: white;
  border: 3px solid white;
}
.icon-button:hover {
  cursor: pointer;
  width: 45px;
  height: 45px;
  margin: 20px 3px 0 3px;
}
.confirm {
  background-color: transparent;
  color: white;
  margin: 20px;
  border: 5px solid white;
}
.confirm:hover {
  width: 100px;
  height: 35px;
  margin: 17.8px;
  cursor: pointer;
}

.hidden {
  display: none;
}
